<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">emerchantpay Payment</label>
    <label lang="de">emerchantpay Payment</label>

    <version>1.0.2</version>
    <copyright>(c) emerchantpay Ltd.</copyright>
    <license>GNU</license>
    <link>https://www.emerchantpay.com</link>
    <author>emerchantpay Ltd.</author>
    <compatibility minVersion="5.6"/>

    <description lang="en">
        <![CDATA[
        <p>
            Payment Module for <b>Shopware 5</b>, that gives you the ability to process payments through <b>emerchantpay's Payment Gateway - Genesis</b>.
        </p>
        </br>
        <p>
            Contains Following Payment Methods:
            <ul>
                <li><b>emerchantpay Checkout</b></li>
                <li><b>emerchantpay Direct</b></li>
            </ul>
        </p>
        </br>
        <table style="border-spacing=10px">
            <tr>
                <td><b>Contact us</b>:&nbsp;</td>
                <td><a style="color: #0000ff !important" href="mailto:tech-support@emerchantpay.com">tech-support@emerchantpay.com</a></td>
            </tr>
            <tr>
                <td><b>Website</b>:&nbsp;</td>
                <td><a style="color: #0000ff !important" href="https://emerchantpay.com" target="_blank">www.emerchantpay.com</a></td>
            </tr>
        </table>
        ]]>
    </description>
    <description lang="de">
        <![CDATA[
        <p>
            Payment Module for <b>Shopware 5</b>, that gives you the ability to process payments through <b>emerchantpay's Payment Gateway - Genesis</b>.
        </p>
        </br>
        <p>
            Contains Following Payment Methods:
            <ul>
                <li><b>emerchantpay Checkout</b></li>
                <li><b>emerchantpay Direct</b></li>
            </ul>
        </p>
        </br>
        <table style="border-spacing=10px">
            <tr>
                <td><b>Contact us</b>:&nbsp;</td>
                <td><a style="color: #0000ff !important" href="mailto:tech-support@emerchantpay.com">tech-support@emerchantpay.com</a></td>
            </tr>
            <tr>
                <td><b>Website</b>:&nbsp;</td>
                <td><a style="color: #0000ff !important" href="https://emerchantpay.com" target="_blank">www.emerchantpay.com</a></td>
            </tr>
        </table>
        ]]>
    </description>

    <changelog version="1.0.2">
        <changes lang="en">
            <![CDATA[
            <p><b>Features</b>:</p>
            <div><ul>
                <li>- Updated Genesis PHP SDK library to version 1.19.2</b></li>
                <li>- Updated Card.js JavaScript plugin used by the Direct Method</li>
                <li>- Added support for Google Pay transaction type via Checkout Method (Web Payment Form)</li>
            </ul></div>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="en">
            <![CDATA[
            <p><b>Features</b>:</p>
            <div><ul>
                <li>- Added new transaction type <b>Post Finance</b> available in the <b>emerchantpay Checkout Method</b></li>
                <li>- Allowed reference action Void for the following transaction types:
                    <ul>
                        <li>&emsp;<b>Sale</b></li>
                        <li>&emsp;<b>Sale (3D-Secure)</b></li>
                    </ul>
                </li>
                <li>- Added Plugin data removal upon uninstall</li>
                <li>- Added mechanic for execution of the following transaction types:
                    <ul>
                        <li>&emsp;<b>Trustly Sale</b></li>
                        <li>&emsp;<b>InstaDebit Payin</b></li>
                        <li>&emsp;<b>iDebit Payin</b></li>
                    </ul>
                </li>
            </ul></div>
            </br>
            <p><b>Fixes</b>:</p>
            <div><ul>
                <li>- Fixed Plugin Config Methods Database Schema</li>
                <li>- Fixed the transaction ID generation</li>
            </ul></div>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="en">
            <![CDATA[
            <p><b>Initial version</b></p>
            <p><b>Features</b>:</p>
            <div><ul>
                <li>- Added Initial <b>emerchantpay Plugin</b> Structure</li>
                <li>- Added Configurations for <b>Direct</b> and <b>Checkout</b> Methods</li>
                <li>- Added <b>GenesisPHP SDK</b> library</li>
                <li>- Added <b>Genesis SDK</b> Service</li>
                <li>- Added <b>Plugin</b> Logging Service</li>
                <li>- Added <b>Checkout</b> and <b>Direct</b> Database Tables</li>
                <li>- Added custom Front End <b>Error Page</b> Controller</li>
                <li>- Added <b>Payment Data</b> Handler</li>
                <li>- Added <b>Checkout</b> Payment</li>
                <li>- Added <b>Direct</b> Payment</li>
                <li>- Added <b>Return URLs</b> Controller and functionality</li>
                <li>- Added functionality for storing the payment transactions' database records</li>
                <li>- Added Genesis <b>Notification</b> handler</li>
                <li>- Added decoration to the <b>Order Details</b> view</li>
                <li>- Added <b>Reference</b> transaction functionality</li>
            </ul></div>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
            <p><b>Initial version</b></p>
            <p><b>Features</b>:</p>
            <div><ul>
                <li>- Added Initial <b>emerchantpay Plugin</b> Structure</li>
                <li>- Added Configurations for <b>Direct</b> and <b>Checkout</b> Methods</li>
                <li>- Added <b>GenesisPHP SDK</b> library</li>
                <li>- Added <b>Genesis SDK</b> Service</li>
                <li>- Added <b>Plugin</b> Logging Service</li>
                <li>- Added <b>Checkout</b> and <b>Direct</b> Database Tables</li>
                <li>- Added custom Front End <b>Error Page</b> Controller</li>
                <li>- Added <b>Payment Data</b> Handler</li>
                <li>- Added <b>Checkout</b> Payment</li>
                <li>- Added <b>Direct</b> Payment</li>
                <li>- Added <b>Return URLs</b> Controller and functionality</li>
                <li>- Added functionality for storing the payment transactions' database records</li>
                <li>- Added Genesis <b>Notification</b> handler</li>
                <li>- Added decoration to the <b>Order Details</b> view</li>
                <li>- Added <b>Reference</b> transaction functionality</li>
            </ul></div>
            ]]>
        </changes>
    </changelog>
</plugin>
